@charset "UTF-8";

/*---------CSS RESET: */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
	font-family:Open Sans, Arial, Helvetica, sans-serif;
	background-color:#27333d;
}



/* Set HTML5 semantic elements as blocks for older browsers (not including IE8 */
header, section, footer, aside, nav, main, article, figure{ 
	display: block; 
}

#nav {
	display: block;
	position: fixed;
	left: -260px;
	top: 0;
	width: 260px;
	height: 100%;
	text-align: center;
	background: #27333d;
	z-index: 998;
}

#nav-button {
	position: absolute;
	display: block;
	padding: 0;
	top: 48%;
	right: -35px;
	font-size: 1.8em;
	text-align: center;
	color: #d7d7d7;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	z-index: 999;
	cursor:pointer;
}

#nav-button:hover{
	color:red;	
}

#page-wrapper{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
}

/* ----------- All styles relating to the first block on the home page */
#one{
	position:relative;
	width:100%;
	max-height:760px;
	min-height:500px; /* Set this based on text/images that go in #one */
	color:#fff;
	text-align:center;
	background:url(assets/header-edit.jpg) 50% 0 no-repeat;
	text-shadow: 1px 1px #000000;

}

#one h1{
	font-size:8.2em;
	margin-bottom:0px;
	line-height:0;
	padding-top:250px;
	margin-bottom:50px;
}

#one h2{
	font-size:4em;	
}

#one p{
	font-size:1.21em;	
}

#scroll-down-container{
	position: absolute;
	bottom: 50px;
	left: 0;
	width: 100%;
	z-index: 900;
}

#scroll-down-container a{
	display:block;
	margin:0 auto;
	height:50px;
	width:50px;
	border:2px solid white;
	border-radius:50%;
	background-repeat:no-repeat;
	background-image:url(assets/down-arrow.png);
	background-size:40px 40px;
	background-position:center center;
	transition:0.2s ease-in;
	-webkit-transition:0.2s ease-in;
}

#scroll-down-container a:hover{
	border:1px solid red;
	background-color:red;
}

/* ----------- All styles relating to the second block on the home page */

#two{
	width:100%;
	background:red;
	height:600px;
}

/* ----------- All styles relating to the third block on the home page */

#three{
	position:relative;
	width:100%;
	height:700px;
	color:#fff;
	text-align:center;
	background:url(assets/road-edited.jpg) 50%;
	text-shadow: 1px 1px #000000;
}


